-i https://py.mdrn.pl:8443/simple

django>=1.5,<1.6
django-jsonfield==0.9.10
South>=0.7
django-cas==2.1.1.1

django-celery
django-kombu

paramiko>=1.7.7.1 # fabric dependency with http://code.fabfile.org/issues/show/214 fixed
fabric>=1.0
mutagen
