-i https://py.mdrn.pl:8443/simple

django>=1.11,<2.0
jsonfield==2.0.2
django-cas==2.1.1.1

celery[redis]==4.2
kombu
redis
vine

paramiko>=1.7.7.1 # fabric dependency with http://code.fabfile.org/issues/show/214 fixed
fabric>=1.0,<2
mutagen
