{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
    <title>{% trans "Audiobook repository" %}</title>
</head>
<body>

<div id="repo-zones-nav">
    <a {% if division = "new" %}class="active" {% endif %}href="{% url list_new %}">{% trans "New" %}</a>
    <a {% if division = "unpublished" %}class="active" {% endif %}href="{% url list_unpublished %}">{% trans "Unpublished" %}</a>
    <a {% if division = "published" %}class="active" {% endif %}href="{% url list_published %}">{% trans "Published" %}</a>
    <a {% if division = "unmanaged" %}class="active" {% endif %}href="{% url list_unmanaged %}">{% trans "Archive" %}</a>
    <div class='clr' ></div>
</div>

<div id="messages">
{% block messages %}{% endblock %}
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>
