{% extends "archive/base.html" %}
{% load i18n %}
{% load tags %}

{% block content %}

<p>Plik źródłowy: <a href='{{ audiobook.source_file.url }}'>{{ path }}</a>
(sha1: <tt>{{ audiobook.source_sha1 }}</tt>).
</p>

<h2>{% trans "Publishing" %}</h2>

{% if audiobook.mp3_status or audiobook.ogg_status %}

<h2>{% trans "Publishing pending" %}</h2>

<form method="post" action="{% url cancel_publishing audiobook.id %}">
    {% csrf_token %}
    <input type="submit" value="{% trans "Cancel publishing" %}" />
</form>


{% if audiobook.mp3_status %}
    <hr/>
    <h2>MP3</h2>

    {% tags_table audiobook.mp3_tags.tags %}

    <p>Status: <b>{{ audiobook.get_mp3_status_display }}</b></p>
{% endif %}

{% if audiobook.ogg_status %}
    <hr/>
    <h2>Ogg Vorbis</h2>

    {% tags_table audiobook.ogg_tags.tags %}

    <p>Status: <b>{{ audiobook.get_ogg_status_display }}</b></p>
{% endif %}




{% else %}
    <form method="post" action="{% url publish audiobook.id %}">
    <table class='tags'>
        {% tags_table audiobook.new_publish_tags 0 %}

        {% csrf_token %}
        <tr><th></th><td><input type="submit" value="{% trans "Publish" %}" /></td></tr>
    </table>
    </form>
{% endif %}

<hr/>
{% if audiobook.mp3_published %}
    <h2>Published MP3</h2>
    <a href="{{ audiobook.mp3_file.url }}">{{ audiobook.mp3_published }}</a>
    {% tags_table audiobook.mp3_published_tags.tags %}
{% else %}<p>MP3 file hasn't been published yet.</p>
{% endif %}

<hr/>
{% if audiobook.ogg_published %}
    <h2>Published Ogg Vorbis</h2>
    <a href="{{ audiobook.ogg_file.url }}">{{ audiobook.ogg_published }}</a>
    {% tags_table audiobook.ogg_published_tags.tags %}
{% else %}Ogg Vorbis file hasn't been published yet.
{% endif %}




<hr />




<h2>{% trans "Update tags" %}</h2>

Last modified: {{ audiobook.modified }}

{% multiple_tags_table tags %}



<form method='post' action='.'>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <td></td><td><input type="submit" value='{% trans "Commit" %}' /></td></td>
    </table>
</form>



<hr />



<form method="post" action="{% url remove_to_archive audiobook.id %}"
    onsubmit='return confirm("{% trans "Are you sure you want to move this audiobook to archive?" %}")'>
    {% csrf_token %}
    <input type="submit" value="{% trans "Remove to archive" %}" />
</form>



{% endblock %}
