{% extends "archive/list.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load tags %}


{% block menu-active-audiobooks %}active{% endblock %}


{% block file-list-title %}
  {% trans "Audiobooks" %}
{% endblock %}


{% block file-list-info %}
{% endblock %}

{% block file-list-wrapper %}
  {% autopaginate object_list 50 %}
  {{ block.super }}
  {% paginate %}
{% endblock %}


{% block file-list %}
  <thead>
    <tr>
      <th>Slug</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "YouTube volume" %}</th>
      <th>MP3</th>
      <th>Ogg</th>
      <th>YouTube</th>
    </tr>
  </thead>
  {% for audiobook in object_list %}
    <tr>
      <td>
        {% if audiobook.slug %}
          <a href="{% url "book" audiobook.slug %}">{{ audiobook.slug }}</a>
        {% endif %}
        <td>
          <a href='{% url "file" audiobook.id %}'>{{ audiobook }}</a>
        </td>
        <td>
          {{ audiobook.youtube_volume }}
        </td>
        <td>
          {% status audiobook "mp3" %}
        </td>
        <td>
          {% status audiobook "ogg" %}
        </td>
        <td>
          {% status audiobook "youtube" %}
        </td>
    </tr>
  {% endfor %}
{% endblock %}
