{% extends "base.html" %}
{% load i18n %}

{% block repo-zones-nav %}
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link {% block menu-active-audiobooks %}{% endblock %}" href="{% url "list_managed" %}">{% trans "Audiobooks" %}</a></li>
    <li class="nav-item"><a class="nav-link {% block menu-active-publishing %}{% endblock %}" href="{% url 'list_publishing' %}">{% trans "Publishing" %}</a></li>
    <li class="nav-item"><a class="nav-link {% block menu-active-new %}{% endblock %}" href="{% url 'list_new' %}">{% trans "New" %}</a></li>
    <li class="nav-item"><a class="nav-link {% block menu-active-unmanaged %}{% endblock %}" href="{% url 'list_unmanaged' %}">{% trans "Archive" %}</a></li>
  </ul>

  <ul class="nav">
    {% if user.is_staff %}
      <li class="nav-item"><a class="nav-link" href='{% url "admin:archive_project_changelist" %}'>{% trans "Projects" %}</a></li>
    {% endif %}
    {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'cas_ng_logout' %}">{% trans "Logout" %}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'cas_ng_login' %}">{% trans "Login" %}</a></li>
    {% endif %}
    {% if user.is_staff %}
      <li class="nav-item"><a class="nav-link" href='{% url "admin:index" %}'>{% trans "Administration" %}</a></li>
    {% endif %}
    {% if user.is_authenticated %}
      <li class="nav-item navbar-text">{{ user }}</li>
    {% endif %}
</ul>
{% endblock %}
