{% extends "archive/base.html" %}
{% load i18n tags bootstrap4 %}

{% block content %}

<div class="card mt-4">
  <div class="card-header">
    <h1>{{ filename }}</h1>
  </div>
  <div class="card-body">
    <form method="post" action="{% url 'move_to_archive' filename %}">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="{% trans "Move to archive" %}" />
    </form>

    <hr>

    {% multiple_tags_table tags %}

    <hr>

    <form method='post' action='.'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value='{% trans "Commit" %}' />
    </form>
  </div>
</div>


{% endblock %}
