{% extends "archive/base.html" %}
{% load i18n %}

{% block messages %}
    {% if err_exists %}
        <p>{% trans "File with same name already exists!" %}</p>
    {% endif %}
{% endblock %}


{% block content %}


<ul id="tags">
    {% for t, v in tags.items %}
        <li>{{t}}
        <ul>
        {% for x in v %}
            <li>{{x}}</li>
        {% endfor %}
        </ul></li>
    {% endfor %}
</ul>


<form method="post" action="{% url 'move_to_new' filename %}">
    {% csrf_token %}
    <input type="submit" value="{% trans "Move to new files" %}" />
</form>

{% endblock %}
