{% extends "archive/base.html" %}
{% load i18n %}
{% load tags %}

{% block messages %}
    {% if err_exists %}
        <p>{% trans "File with same name already exists!" %}</p>
    {% endif %}
{% endblock %}


{% block content %}

<div class="card mt-4">
  <div class="card-header">
    <h1>{{ filename }}</h1>
  </div>
  <div class="card-body">
    {% multiple_tags_table tags %}

    <form method="post" action="{% url 'move_to_new' filename %}">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="{% trans "Move to new files" %}" />
    </form>
  </div>
</div>


{% endblock %}
