{% extends "archive/list.html" %}
{% load i18n %}


{% block menu-active-publishing %}active{% endblock %}


{% block file-list-title %}
    {% trans "Audiobooks being published" %}
{% endblock %}



{% block file-list-wrapper %}
  {% for k, objects in status_objects %}
    <h2>{{ k.1 }}</h2>
    <table class="table">
      {% for file in objects %}
        <tr>
          <td>
            <a href='{% url "file" file.id %}'>
              {{ file }}
              {% if file.youtube_status == k.0 and file.youtube_volume %}
                <br>
                <small>
                  ({{ file.youtube_volume_index }}/{{ file.youtube_volume_count }})
                  {{ file.youtube_volume }}
                </small>
              {% endif %}
            </a>
          </td>
          <td class="text-warning">
            {% if file.mp3_status == k.0 %}MP3{% endif %}
          </td>
          <td class="text-warning">
            {% if file.ogg_status == k.0 %}Ogg{% endif %}
          </td>
          <td class="text-warning">
            {% if file.youtube_status == k.0 %}YouTube{% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
{% endblock %}
