{% extends "archive/list.html" %}
{% load i18n %}


{% block file-list-title %}
    {% trans "Unpublished audiobooks" %}
{% endblock %}


{% block file-list-info %}
{% endblock %}


{% block file-list %}
  {% for file in objects %}
    <tr>
      <td>
        <a href='{% url "file" file.id %}'>{{ file }}</a>
      </td>
      <td>
        {% if file.mp3_published %}
          <span class="text-success" title="{{ file.mp3_published }}">MP3</span>
        {% else %}
          {% if file.mp3_status %}
            <span class="text-warning" title="{{ file.get_mp3_status_display }}">MP3</span>
          {% endif %}
            {% endif %}
      </td>
      <td>
        {% if file.ogg_published %}
          <span class="text-success" title="{{ file.ogg_published }}">Ogg</span>
        {% else %}
          {% if file.ogg_status %}
            <span class="text-warning" title="{{ file.get_ogg_status_display }}">Ogg</span>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock %}
